<h2>Books</h2>
<div class="clearfix">


  <div class="book-title">
	<% @books.each do |book| %>
		<p>title</p>
		<span><%= book.title %></span>
	<% end %>
  </div>

  <div class="book-body">
	<% @books.each do |book| %>
		<p>body</p>
		<span><%= book.body %></span>
	<% end %>
  </div>


</div>