<h2>Books</h2>
<div class="clearfix">

  <table class="table">
  	<th>Title</th>
  	<th>Body</th>
  	<th></th>
  </table>

  <table class="table">
  	<th>
  		<% @books.each do |book| %>
		<%= book.title %>
		<% end %>
	</th>
  	<th>
  		<% @books.each do |book| %>
		<%= book.body %>
	    <% end %>
  	</th>
  	<th></th>
  </table>

</div>