<h2>Books</h2>
<div class="clearfix">

  <!-- tableを使う？ -->
  <div class="book-title">
  	<p class="name">title</p>
	<% @books.each do |book| %>
	<%= book.title 	%><br>
	<% end %>
  </div>

  <div class="book-body">
  	<p class="name">body</p>
	<% @books.each do |book| %>
	<%= book.body %><br>
	<% end %>
  </div>


</div>